<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Market Movers - <small>Last Updated: dataStore.mmLastUpdated | date:'HH:mm:ss'</small></h3>
    </div>
    <div class="panel-body">
        <!-- <tabset>
            <tab heading="Gainers">
                <div ng-include="'app/views/marketmovers.html'" ng-init="init('Up','Gainers','JSEMIT')" ng-controller=" marketMoversController"></div>
            </tab>
            <tab heading="Losers">
                <div ng-include="'app/views/marketmovers.html'" ng-init="init('Down','Losers','JSEMIT')" ng-controller=" marketMoversController"></div>
            </tab>
            <tab heading="by Value">
                <div ng-include="'app/views/marketmovers.html'" ng-init="init('Value','Value','JSEMIT')" ng-controller=" marketMoversController"></div>
            </tab>
            <tab heading="by Volume">
                <div ng-include="'app/views/marketmovers.html'" ng-init="init('Volume','Volume','JSEMIT')" ng-controller=" marketMoversController"></div>
            </tab>
            <tab heading="by Trades">
                <div ng-include="'app/views/marketmovers.html'" ng-init="init('Trades','Trades','JSEMIT')" ng-controller=" marketMoversController"></div>
            </tab>
        </tabset> -->
    </div>
</div>