<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Market Movers - <small>Last Updated: dataStore.mmLastUpdated | date:'HH:mm:ss'</small></h3>
    </div>
    <div class="panel-body">
        <div class="panel-heading">
            <h3 class="panel-title">JSE Equities - Market Movers - <small>Last Updated: mmLastUpdated | date:'HH:mm:ss'</small></h3>
        </div>
        <div class="panel-body">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                <li [ngbNavItem]="1">
                    <button ngbNavLink>One</button>
                </li>
                <li [ngbNavItem]="2">
                    <button ngbNavLink>TWO</button>
                </li>
                <li [ngbNavItem]="3">
                    <button ngbNavLink>Three</button>
                </li>
            </ul>
            
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
            
            <pre>Active: {{ active }}</pre>
        </div>
    </div>
</div>