<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Trading Dashboard</h3>
    </div>
    <div class="panel-body">
      <app-trading-account></app-trading-account>
      <app-position-summary-info></app-position-summary-info>
      <app-positionsummary  *ngIf="false" />
      <ul class="nav nav-tabs">
        <li heading="Gainers" [ngClass]="{ active: tableType == 'Gainers' }">
          <a
            href="javascript:void(0)"
            (click)="handleNavSelect('Up', 'Orderbook')"
            class=""
            >Orderbook</a
          >
        </li>
        <li heading="Losers" [ngClass]="{ active: tableType == 'Losers' }">
          <a
            href="javascript:void(0)"
            (click)="handleNavSelect('Down', 'Tradesbook')"
            class=""
            >Tradesbook</a
          >
        </li>
        <li heading="by Value" [ngClass]="{ active: tableType === 'Positions' }">
          <a
            href="javascript:void(0)"
            (click)="handleNavSelect('Value', 'Positions')"
            class=""
            >Positions</a
          >
        </li>
      </ul>
      <ng-container *ngIf="false">
        <app-orderbook />
      </ng-container>
      <ng-container *ngIf="false">
        <app-positions />
      </ng-container>
      <ng-container *ngIf="false">
        <app-tradebook />
      </ng-container>
    </div>
  </div>
</div>
