<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Trading Dashboard</h3>
    </div>
    <div class="panel-body">
      <div class="" ng-include="'app/views/tradingaccount.html'"></div>
      <div
        class=""
        ng-if="global.showPositions && global.showPositionsSummary"
        ng-include="'app/views/positionssummaryinfo.html'"
      ></div>
      <div
        class=""
        ng-if="global.showPositionsSummary"
        ng-include="'app/views/positionssummary.html'"
        ng-controller="positionsSummaryController"
      ></div>
      <!-- <tabset>
        <tab heading="Orderbook">
          <div class="panel panel-default">
            <div class="panel-body">
              <app-orderbook />
            </div>
          </div>
        </tab>
        <tab heading="Tradesbook">
          <div class="panel panel-default">
            <div class="panel-body">
              <app-positions />
            </div>
          </div>
        </tab>
        <tab heading="Positions" ng-if="global.showPositions">
          <div class="panel panel-default">
            <div class="panel-body">
              <app-positions />
            </div>
          </div>
        </tab>
      </tabset> -->
      <!-- <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
          <button ngbNavLink>First</button>
          <ng-template ngbNavContent> -->
            <app-orderbook />
        <!-- </ng-template>
        </li>
        <li ngbNavItem>
          <button ngbNavLink>Second</button>
          <ng-template ngbNavContent> -->
            <app-tradebook />
        <!-- </ng-template>
        </li>
        <li ngbNavItem>
          <button ngbNavLink>Third</button>
          <ng-template ngbNavContent> -->
            <app-positions />
        <!-- </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div> -->
    </div>
  </div>
</div>
